<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= simple_form_for @contact_inquiry do |f| %>
  <%= f.input :email %>
  <%= f.input :subject %>
  <%= f.input :description %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.button :submit, 'Create Contact Inquiry' %>
<% end %>
