<h1>Inquiry Index</h1>
<ul>
<% @contact_inquiries.each do |inquiry| %>
  <ul>
   <li><%= inquiry.first_name %></li>
   <li><%= inquiry.last_name %></li>
   <li><%= inquiry.subject %></li>
   <li><%= inquiry.description %></li>
    <td><%= link_to 'Show', inquiry %></td>
    <td><%= link_to 'Edit', edit_contact_inquiry_path(inquiry) %></td>
    <td><%= link_to 'Destroy', inquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</ul><br>
<% end %>
</ul>
